include README.md
include LICENSE
recursive-include textarena *.json
recursive-include textarena *.jsonl
recursive-include textarena *.py
recursive-include textarena/envs *.json
include textarena/envs/two_player/Debate/topics.json
recursive-include textarena/utils/data *.dic *.aff
